{% extends 'layouts/base.html' %}

{% block title %}ECES-Edu | Acceuil{% endblock%}

{% block content %}
<div class="acceuil">
  <div class="inline-block">
      <h1>Description de la plateforme</h1>
      <div class="haut">
        <img src="../static/images/2.jpg" alt="junior">
      </div>
      <div class="bas">
        <p>
          Bonjour à tous je m'appelle Junior BATILAT étudiant à ECES en 2eme année de Genie informatique
          ceci est une plateforme nommé <b>ECES-Edu</b> permettant l'enregistrement des differents
          étudians dans un registre automatisé afin de mieux structuré les données de tous les etudiants
          pour une recherche affinée du bien de tous les membres de l'administration
          d'avoir la main sur le nombre et les renseignements des étudiants de façon automatique.
        </p>
        <p class="justify"><a href="#">&rArr; Visite mon profil </a></p>
    </div>
    </div>
</div>
{% endblock %}
